<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" data-provider-thread-count="2">
  <test thread-count="1" name="Test">
    <classes>
    <class name="org.igt.pompages.EspnCricInfo"/>
      <class name="org.igt.seleniumframework.EspnCricInfo"/>
      <class name="org.igt.seleniumframework.BaseTest"/>
    </classes>
  </test> <!-- Test -->
  <listeners>
     <listener class-name="org.igt.listeners.ListenersClass"/>
      <listener class-name="org.igt.listeners.MethodInterceptor"/>
       <listener class-name="org.igt.listeners.AnnotationTransformer"/>
  </listeners>
</suite> <!-- Suite -->
